@page "/"

<PageTitle>Index</PageTitle>
<h2>尝试下载Mod</h2>
<MContainer>
    <MRow>
        <MCol Cols="12">
            <MTextField @bind-Value="DownloadLink"
                        AppendOuterIcon="@(!string.IsNullOrEmpty(DownloadLink) ? "mdi-magnify" : "")"
                        Outlined
                         ClearIcon="mdi-close-circle"
                        Clearable
                         Label="下载链接"
                         Type="text"
                         OnAppendOuterClick="SendMessage"
                         OnClearClick="ClearMessage">
             </MTextField>
         </MCol>
     </MRow>
 </MContainer>

 @code {
    private string DownloadLink = "";

    public void SendMessage() {
        DownloadLink = "";
    }

    public void ClearMessage() {
        DownloadLink = "";
    }

}
